@import "../variables";

#clock {
  z-index: 5;
}
.screens-container {
  height: 100vh !important;
  width: 100% !important;
}
.screen-bg {
  // background: url(../img/bg-1.webp);
  background: #000 !important;
  background-size: cover;
  position: absolute;
  z-index: -2;
  transform: scaleX(-1);
  width: 100%;
  height: 100%;
}
.logo {
  position: absolute;
  height: 140px;
  width: 140px;
  z-index: 5;
  top: 0;
  background: url(../img/oxygene.png);
  filter: drop-shadow(1px 1px 8px rgb(0, 0, 0));
  background-size: cover;
}
