@import "../variables";

.screen2 {
  z-index: -1;
  display: flex;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  .text-descriptif {
    position: absolute;
    top: 10%;
    font-size: 32px;
    font-weight: 700;
    rotate: -15deg;
    color: rgb(240, 240, 240);
    text-shadow: 2px 2px 2px black;
    .blink{
      
    }
  }
  .cereal-container2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    .cereal2 {
      width: 100%;
      height: 100%;
      margin-bottom: 0px;
      background: url(../img/all.png);
      background-size: 110%;
      background-position: -180px 0px;
    }
  }
  .text-wrapp {
    top: 10% !important;
    background: linear-gradient(0deg, #000000, #c0c0c0) !important;
  }
}
