@import "../variables";
.screen9 {
  z-index: -1;
  display: flex;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  .cereal-container9 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    .cereal9 {
      width: 100%;
      height: 100%;
      margin-bottom: 0px;
      background: url(https://raw.githubusercontent.com/ConradGuillaume/Display/main/src/img/caf%C3%A9.webp?token=GHSAT0AAAAAACKU7FVEZR47A66EWNDU7JU6ZK7CLXQ);
      background-size: cover;
      animation: zoomIn 20s ease-in-out forwards;
    }
  }
  .text-wrapp {
    background: linear-gradient(
      0deg,
      #d0baa1,
      #a47e5b,
      #a47e5b,
      #a47e5b,
      #d0baa1,
      #a47e5b,
      #fff1e0
    ) !important;
  }
  .price-n {
    color: white;
  }
}
