@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; // not neccesary
}
body {
}

.App {
  position: fixed;
  height: 100vh;
  width: 100%;
  h2 {
    z-index: 50;
    display: flex;
    font-size: 40px;
    justify-content: flex-end;
    margin: 20px;
    color: $Noir;
  }
}
